*, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }

:root {
  --bg: #040404;
  --s1: #191f35;
  --s2: #020d2c;
  --b: #f8f8f7;
  --gold: #3150eb;
  --gold2: #e2ccaa;
  --text: #818586;
  --muted: #feffff;
  --muted2: #a4b7cd;/*color for secondary text and icons*/
  --box:rgb(0, 0, 0);
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'DM Sans', sans-serif;
  min-height: 100vh;
  font-weight: 300;
}

input, select, button, textarea {
  font-family: 'DM Sans', sans-serif;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px var(--bg) inset;
  -webkit-text-fill-color: var(--text);
}
