*, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }

:root {
  --bg: #000000;
  --s1: #0C0F1A;
  --s2: #111520;
  --b: #1C2333;
  --gold: #374cc2;
  --gold2: #D4AE76;
  --text: #5c5b59;
  --muted: #556070;
  --muted2: #1c232b;
  --box:rgb(54, 52, 52);
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'DM Sans', sans-serif;
  min-height: 100vh;
  font-weight: 300;
}

input, select, button, textarea {
  font-family: 'DM Sans', sans-serif;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px var(--bg) inset;
  -webkit-text-fill-color: var(--text);
}